<a href="https://colab.research.google.com/github/dheeraj607162/k.n.king/blob/main/python_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction**
Python is a dynamic, interpreted (bytecode-compiled) language. There are no type declarations of variables, parameters, functions, or methods in source code. This makes the code short and flexible, and you lose the compile-time type checking of the source code
*##Python History*
Python was conceived in the late 1980s by Guido van Rossum at Centrum Wiskunde & Informatica (CWI) in the Netherlands as a successor to the ABC programming language, which was inspired by SETL, capable of exception handling and interfacing with the Amoeba operating system. Its implementation began in December 1989
###Features


1.  Simple anad easy to learn
2.  object oriented
3.  huge library support
4.  expandablrz and extendble
5. platform independent
6.  dynamic language

![8-Steps-to-master-Python-programming-for-Data-Science.webp]()

In [ ]:
2+3

5

In [ ]:
#variable
a=5
a

5

In [ ]:
#addition
a=10
b=12
a+b

22

In [ ]:
print(5+10)

15

In [ ]:
#demo
a='set8'
print(type(a))
print(a)

<class 'str'>
set8

In [ ]:
#type of numerical
a=56
b=23.56
c=234                                                                      
d=34+8j
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))

56
<class 'int'>
23.56
<class 'float'>
234
<class 'int'>
(34+8j)
<class 'complex'>

In [ ]:
#strings
a="set8first _class"
b ="roll_no"

print(a+" "+b)

set8first _class roll_no

In [ ]:
a="this"
b="is"
c='"phthon"'
d="class"
print(a+" "+b+" "+c+" "+d)

this is "phthon" class

In [ ]:
a="sumdeep's"
b="text"
c="book"
print(a+" "+b+" "+c)

sumdeep's text book

In [ ]:
s=4
b=10
print(s>b)
print(s==b)
print(b>s)

False
False
True

In [ ]:
#type convertion
a=30
b=45.6
c=2+8j
d=complex(a)
e=float(a)
f=int(b)
print(d)
print(e)
print(f)

(30+0j)
30.0
45

In [ ]:
# convertion from one format to other
a=34.5
b=37
c=1+8j
d=float(b)
e=int(a)
f=complex(b)  
print(d)
print(e)
print(f)

37.0
34
(37+0j)

In [ ]:
#upper method
str="this is dheeraj"
str.upper()

'THIS IS DHEERAJ'

In [ ]:
#lower method
str="THIS IS DHEERAJ"
str.lower()

'this is dheeraj'

In [ ]:
#swap case
str="This Is DheEraj"
str.swapcase()

'tHIS iS dHEeRAJ'

In [ ]:
#is numeric method
str="12345678"
str.isnumeric()

True

In [ ]:
#is capital method
str="DHEERAJ"
str.isupper()

True

In [ ]:
#islower method
str="DHEERaj"
str.islower()

False

In [ ]:
#length
str="i am handsome"
print(len(str))

13

In [ ]:
#center
str="i am dheeraj"
str.find("dheeraj")

5

In [ ]:
#math functions
#square root
import math
print(math.sqrt(16))
print(math.ceil(10.7))
print(math.floor(11.6))
print(math.log(4))
print(math.copysign(3,-5))
print(math.gcd(15,20))
print(math.remainder(81,9))
a=4
b=9
print(math.dist(a,b))

In [ ]:
#string values
a="i am good boy"
a[10]

'b'

In [ ]:
a="rotator"
b=a[: :-1]
a==b

True

In [ ]:
a=float(input("enter number"))
print(a)
print(type(a))

enter number56
56.0
<class 'float'>

In [ ]:
b=int(input("enter number"))
print(b)

enter number507
507

In [ ]:
password="5314"
entered=int(input("enter password"))
password==entered

In [ ]:
a="dheeraj"
print(len(a))
b=a[]
print(b)

7
a

In [ ]:
a=int(input("enter number"))
print(a)
print(type(a))

enter number5314
5314
<class 'int'>

In [ ]:
# mat fun
print(math.log2(2))

1.0

In [ ]:
import math
a=(2,3,4,5)
print(math.prod(a))

120

In [ ]:
import math
print(math.perm(6,3))
print(math.comb(5,3))
a=(math.remainder(10,3))
print(int(a))
print(complex(a))
print()

120
10
1
(1+0j)

In [ ]:
a="dheeraj"
print(len(a))
print(a[0:7])
print(a[::-1])

7
dheeraj
jareehd

In [ ]:
#example for ifelse statement
a=int(input("enter numer"))
if a%2==0:
 print("even")
else:
  print("odd")

enter numer47
odd

In [ ]:
a=int(input("enter number"))
if a>0:
  print("positive number")
elif a<0:
  print("negative number")
else :
  print("neutral")

enter number0
neutral

In [ ]:
#if else statements
a=int(input("enter number"))
b=int(input("enter number"))
if a>b:
  print("a is greater")
elif b>a:
  print("b is greater")
else:
  print("both are equal   ")

enter number50
enter number67
b is greater

In [ ]:
a=10
a+=20
print(a)
a-=10
print(a)
a*=10
print(a)
a%=2
print(a)

30
20
200
0

In [ ]:
print(2**3)
print(10%2)
print(20/20)
print(int(20/20))
print(complex(20/20))

8
0
1.0
1
(1+0j)

In [ ]:
a=10
b=20
print(a==b)
print(a>b)
print(a<b)
print(a!=b)
id(a)

False
False
True
True

9793376

**##IDENTITY OPERATOR##**

when we assign same number to different variables the variables will have both variables will have same meamory address 

##**example**##

In [ ]:
a=100
b=100
c=200
print(a is b)
print(a is c)

True
False

in this case both a,c have same address so it is giving the output as true value

In [ ]:
#membership operators
a=list((1,2,3,4,5,6,7,8,9,0,11,12,13,11,14,15,1,6))
b=1
print(b in a)

True

In [ ]:
a=100
b=100
c=200

In [ ]:
a="dheeraj"
a.find("d")

0

In [ ]:
a=10
b=200
print(a&b)
print(a|b)
print(~a)
print(a^b)

8
202
-11
194

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
a,b=b,a 
print(a)
print(b)

enter a number80
enter a number90
90
80

In [ ]:
a="dheeraj"
i=1
while i<=10:
  print(a)
  i=i+1

dheeraj
dheeraj
dheeraj
dheeraj
dheeraj
dheeraj
dheeraj
dheeraj
dheeraj
dheeraj

In [ ]:
a=0
i=0
while i<=100:
  if a%2==0:
    print("even number",a)
  else:
    print("odd  number",a)
  a=a+1
  i=i+1

even number 0
odd  number 1
even number 2
odd  number 3
even number 4
odd  number 5
even number 6
odd  number 7
even number 8
odd  number 9
even number 10
odd  number 11
even number 12
odd  number 13
even number 14
odd  number 15
even number 16
odd  number 17
even number 18
odd  number 19
even number 20
odd  number 21
even number 22
odd  number 23
even number 24
odd  number 25
even number 26
odd  number 27
even number 28
odd  number 29
even number 30
odd  number 31
even number 32
odd  number 33
even number 34
odd  number 35
even number 36
odd  number 37
even number 38
odd  number 39
even number 40
odd  number 41
even number 42
odd  number 43
even number 44
odd  number 45
even number 46
odd  number 47
even number 48
odd  number 49
even number 50
odd  number 51
even number 52
odd  number 53
even number 54
odd  number 55
even number 56
odd  number 57
even number 58
odd  number 59
even number 60
odd  number 61
even number 62
odd  number 63
even number 64
odd  number 65
even number 66
odd  number 67
even number 68
odd  number 69
even number 70
odd  number 71
even number 72
odd  number 73
even number 74
odd  number 75
even number 76
odd  number 77
even number 78
odd  number 79
even number 80
odd  number 81
even number 82
odd  number 83
even number 84
odd  number 85
even number 86
odd  number 87
even number 88
odd  number 89
even number 90
odd  number 91
even number 92
odd  number 93
even number 94
odd  number 95
even number 96
odd  number 97
even number 98
odd  number 99
even number 100

In [ ]:
#problem
i=1
b=0
while i<=6:
  a=int(input("enter marks"))
  b=b+a
  i=i+1
c=b/6
print(c)

enter marks80
enter marks80
enter marks80
enter marks80
enter marks80
enter marks80
80.0

In [ ]:
a="dheeraj is a good boy .dheeraj goes to clg everyday.dheeraj is very puntuality person"
a.replace("dheeraj","he")

'he is a good boy .he goes to clg everyday.he is very puntuality person'

In [ ]:
a=0
i=1
while i<=100:
  if a%2==0:
    print(a)
  a=a+1
  i=i+1

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
a=0
for i in range(5):
  a=a+1
  print(a)

1
2
3
4
5

In [ ]:

a=int(input("enter number"))
if a>7:
 print("afternoon")

enter number9
afternoon

In [ ]:
a=input("enter input")
b=a[ : :-1]
print(b)

enter inputvedhu
uhdev

In [ ]:
i=1500
while i<=2700:
  if (i%3==0 and i%5==0):
    print(i)
  i=i+1

1500
1515
1530
1545
1560
1575
1590
1605
1620
1635
1650
1665
1680
1695
1710
1725
1740
1755
1770
1785
1800
1815
1830
1845
1860
1875
1890
1905
1920
1935
1950
1965
1980
1995
2010
2025
2040
2055
2070
2085
2100
2115
2130
2145
2160
2175
2190
2205
2220
2235
2250
2265
2280
2295
2310
2325
2340
2355
2370
2385
2400
2415
2430
2445
2460
2475
2490
2505
2520
2535
2550
2565
2580
2595
2610
2625
2640
2655
2670
2685
2700

In [ ]:
guess_me=int(input("enter input"))
if guess_me>7:
  print("too high")
elif guess_me<7:
  print("too low")
else :
  print("moderate")

enter input10
too high

In [ ]:
a=0
for i in range(0,100,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
a=0
for i in range(0,50,1):
  print(a)
  a=a+2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

##excercise problems##
1)

In [ ]:
a=input("enter input")
print(a)

2)

In [ ]:
a,b="dheeraj","venkat"
print("{1}.{0}".format(a,b))

venkat.dheeraj

In [ ]:
a,b,c,d=1,2,3,4
print("a is {2}, b is {1},c is {3},d is {0}".format(d,b,a,c))

a is 1, b is 2,c is 3,d is 4

3)

In [ ]:
a=int(input("enter number"))
b=int(input("enter number"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

enter number50
enter number25
75
25
1250
2.0
0

In [ ]:
a=float(input("enter number"))
b=float(input("enter number"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

enter number50.5
enter number5.5
56.0
45.0
277.75
9.181818181818182
1.0

4)

In [ ]:
a=int(input("enter hours"))
b=a*60
print("minutes:",b)

enter hours2
minutes: 120

In [ ]:
a=int(input("enter miles"))
b=(a*1.60934)
print("in miles:",b)

enter miles5
in miles: 8.0467

5)

In [ ]:
import math
a=float(input("enter number"))
print(math.ceil(a))

enter number.45
1

In [ ]:
a=int(input("enter number"))
b=int(input("enter power"))
print(math.pow(a,b))

enter number2
enter power3
8.0

In [ ]:
a=float(input("enter number"))
print(math.floor(a))

enter number1.46
1

In [ ]:
a=int(input("enter number"))
print(int(math.sqrt(a)))

enter number4
2

In [ ]:
a=int(input("enter number"))
b=int(input("enter number"))
print(math.remainder(a,b))

6)

In [5]:
a=input("enter operator")
if a=='+':
  b=int(input("enter a value"))
  c=int(input("enter a value"))
  print(b+c)
elif a=="-":
  b=int(input("enter a value"))
  c=int(input("enter a value"))
  print(b-c)
elif a=="*":
  b=int(input("enter a value"))
  c=int(input("enter a value"))
  print(b*c)
elif a=='/':
  b=int(input("enter a value"))
  c=int(input("enter a value"))
else :
  b=int(input("enter a value"))
  c=int(input("enter a value"))
  print(b%c)

enter operator%
enter a value4
enter a value2
0

7)

In [6]:
i=1
b=0
while i<=6:
  a=int(input("enter marks"))
  b=b+a
  i=i+1
c=b/6
print("grade of six subjects is",c)

enter marks100
enter marks100
enter marks100
enter marks100
enter marks100
enter marks100
grade of six subjects is 100.0

8)

In [15]:
i=1
count=0
while i<=100:
  if i%2==0:
    print("even number",i)
    count=count+1
  i=i+1
print("count:",count)

even number 2
even number 4
even number 6
even number 8
even number 10
even number 12
even number 14
even number 16
even number 18
even number 20
even number 22
even number 24
even number 26
even number 28
even number 30
even number 32
even number 34
even number 36
even number 38
even number 40
even number 42
even number 44
even number 46
even number 48
even number 50
even number 52
even number 54
even number 56
even number 58
even number 60
even number 62
even number 64
even number 66
even number 68
even number 70
even number 72
even number 74
even number 76
even number 78
even number 80
even number 82
even number 84
even number 86
even number 88
even number 90
even number 92
even number 94
even number 96
even number 98
even number 100
50

In [16]:
i=0
count=0
while i<=100:
  if i%2!=0:
    print("odd number",i)
    count=count+1
  i=i+1
print("count",count)

odd number 1
odd number 3
odd number 5
odd number 7
odd number 9
odd number 11
odd number 13
odd number 15
odd number 17
odd number 19
odd number 21
odd number 23
odd number 25
odd number 27
odd number 29
odd number 31
odd number 33
odd number 35
odd number 37
odd number 39
odd number 41
odd number 43
odd number 45
odd number 47
odd number 49
odd number 51
odd number 53
odd number 55
odd number 57
odd number 59
odd number 61
odd number 63
odd number 65
odd number 67
odd number 69
odd number 71
odd number 73
odd number 75
odd number 77
odd number 79
odd number 81
odd number 83
odd number 85
odd number 87
odd number 89
odd number 91
odd number 93
odd number 95
odd number 97
odd number 99
count 50

9)

In [17]:
import math
a=int(input("enter number"))
print(math.factorial(a))

enter number5
120

In [18]:
import math
a=int(input("enter a number"))
b=int(input("enter a number"))
print(math.gcd(a,b))

enter a number34
enter a number12
2

In [21]:
a=int(input("enter number"))
i=3
b=0
c=1
next=b+c
print('0\n1')
while i<=a:
  print(next)
  b=c
  c=next
  next=b+c
  i=i+1

enter number5
0
1
1
2
3

10)

In [ ]:
a=input("enter input")
b=a[: :-1]
a==b